.container {
    max-width: 1080px;
}

.title {
    font-size: 23px;
    font-weight: 700;
}

.accordion {
    display: flex;
}

.daily-item {
    position: relative;
    padding: 20px 10px;
    background-color: #333;
    border-radius: 15px;
    height: 145px;
    width: 120px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
}



.icon-small {
    width: 60px;
    height: 60px;
    
}

.day {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.description {
    font-size: 12px;
    text-align: center;
    color: rgb(197, 197, 197);
    margin-top: 2px;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.min-max {
    color: rgb(197, 197, 197);
    margin-top: auto;
}

.minmaxContainer {
    color: rgb(197, 197, 197);
    margin-top: auto;
}

.daily-details-grid {
    row-gap: 0;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 15px 5px;
    border-radius: 15px;
    height: 145px;
    background-color: #333;
    margin: 2px;
}

.daily-details-grid-item {
    display: flex;
    height: 60px;
    flex-direction: column;
    font-size: 16px;
    padding: 5px;
}

.daily-details-grid-item label:first-child {
    color: white;
}

.daily-details-grid-item label:last-child {
    color: #757575;
}

.horizontal-accordion-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;
    flex: 1;
     @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.accordionContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
}

.horizontal-accordion-item {
    flex: 1;
}

.panel {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.panel[expanded='true'] {
    max-height: 145px;
}